---
import BaseLayout from "../layouts/BaseLayout.astro";
import ResourceCard from "../components/ResourceCard.astro";

const videos = [
  {
    title: "FFS Choose",
    description:
      '"For Future\'s Sake Choose" Māori roll campaign video from Stan Walker.',
    embedSrc:
      "https://player.vimeo.com/video/496965537?title=0&byline=0&portrait=0",
    link: "https://vimeo.com/496965537",
    linkLabel: "Stan Walker: FFS Choose",
  },
  {
    title: "Māori Roll or General Roll?",
    description:
      '"Shifting Sands" Māori roll campaign video by Saatchi & Saatchi.',
    embedSrc: "https://www.youtube.com/embed/xI-D5hNO6bM",
    link: "https://youtu.be/xI-D5hNO6bM",
    linkLabel: "Saatchi & Saatchi: Māori Roll or General Roll?",
  },
  {
    title: "Kaupapa on the Couch",
    description:
      "Leonie Hayden presents 'The Māori Seats: what are they and who cares about them?'.",
    embedSrc: "https://www.youtube.com/embed/spcluAdAFV4",
    link: "https://www.youtube.com/watch?v=spcluAdAFV4",
    linkLabel: "Leonie Hayden: Kaupapa on the Couch",
  },
];

const articles = [
  {
    title:
      "Attention those with Māori whakapapa: you might have missed an important law change",
    description:
      "News article by Hannah Overbye & Rebecca Hini talking about the law changes around the Māori electoral option in 2023.",
    link: "https://thespinoff.co.nz/atea/30-06-2023/attention-those-with-maori-whakapapa-you-might-have-missed-an-important-law-change",
    linkLabel: "The Spinoff",
  },
  {
    title: "Māori roll or general roll – how did you choose?",
    description:
      "News article from Which Roll? – Ko Tēhea Rārangi Pōti? team members Ema Tuakoi and Tommy de Silva sharing their experiences and understandings of the Māori electoral roll.",
    link: "https://thespinoff.co.nz/politics/25-07-2022/maori-roll-or-general-roll-how-did-you-choose",
    linkLabel: "The Spinoff",
  },
];

const official = [
  {
    title: "Register for the Māori electoral roll",
    description:
      "New Zealand Government webpage providing an overview of who is eligible for the Māori roll, how to choose rolls, and how voting on the roll works.",
    link: "https://www.govt.nz/browse/engaging-with-government/enrol-and-vote-in-an-election/register-for-the-maori-electoral-roll/",
    linkLabel: "New Zealand Government",
  },
  {
    title: "General roll or Māori roll?",
    description:
      "Electoral Commission webpage explaining what the Māori roll is, and what exactly being on the Māori roll means for voters.",
    link: "https://vote.nz/enrolling/get-ready-to-enrol/general-roll-or-maori-roll/",
    linkLabel: "Electoral Commission",
  },
  {
    title: "What is the Māori Electoral Option?",
    description:
      "Electoral Commission webpage which provides a general overview of the Māori electoral roll and how to swap between rolls.",
    link: "https://elections.nz/democracy-in-nz/what-is-an-electoral-roll/what-is-the-maori-electoral-option/",
    linkLabel: "Electoral Commission",
  },
  {
    title: "Ngā māngai – Māori representation",
    description:
      "Te Ara webpage talking about Māori representation in Parliament, the effect of the Māori seats, and some additional history.",
    link: "https://teara.govt.nz/en/nga-mangai-maori-representation",
    linkLabel: "Te Ara (NZ Government)",
  },
  {
    title: "What difference will it make?",
    description:
      "Citizens Advice Bureau webpage about what difference voting on the Māori roll might make for voters, along with instructions for enrolling.",
    link: "https://www.cab.org.nz/article/KB00001066",
    linkLabel: "Citizens Advice Bureau",
  },
  {
    title: "History of Māori and the Vote",
    description:
      "New Zealand History webpage detailing the history of Māori in the New Zealand electoral system and the Māori seats.",
    link: "https://nzhistory.govt.nz/politics/maori-and-the-vote/twentieth-century",
    linkLabel: "New Zealand History",
  },
];

const media = [
  {
    title: "RNZ: Make switch to Māori roll easier, say Taranaki politicians",
    description:
      "News piece discussing why Taranaki Māori politicians want to make it easier for Māori voters to join the Māori electoral roll.",
    link: "https://www.rnz.co.nz/news/te-manu-korihi/448621/make-switch-to-maori-roll-easier-say-taranaki-politicians",
    linkLabel: "Radio New Zealand",
  },
  {
    title: "1 News: Explained - What going on the Māori roll means for you",
    description:
      "Media story by One News discussing what being enrolled on the Māori roll means for voters, why the Māori seats exist, and some general information.",
    link: "https://www.1news.co.nz/2020/09/02/explained-what-going-on-the-maori-roll-means/",
    linkLabel: "One News",
  },
  {
    title: "Māori TV: Māori Electoral Option time, whānau! It's up to you!",
    description:
      "Māori Television news piece on Facebook explaining why, how, and when people can sign up for the Māori electoral option.",
    link: "https://www.facebook.com/watch/?v=10156703827400649",
    linkLabel: "Māori TV (Facebook)",
  },
  {
    title: "RNZ: Call to change how Māori can be enrolled to vote",
    description:
      "There have been calls to change the timing of the Māori electoral option, and the Ministry of Justice wants to hear what people think.",
    link: "https://www.rnz.co.nz/news/te-manu-korihi/448546/call-to-change-how-maori-can-be-enrolled-to-vote",
    linkLabel: "Radio New Zealand",
  },
];
---

<BaseLayout
  title="Resources"
  showPageBanner={false}
  description="Videos, articles, and official information about the Māori and General electoral rolls."
>
  <section
    class="about-hero about-hero--title-only"
    aria-labelledby="resources-heading"
  >
    <div class="container about-hero__grid">
      <h1 id="resources-heading" class="about-hero__title">
        Resources &amp; Info
      </h1>
    </div>
  </section>

  <section class="resources-videos section--alt">
    <div class="container--site resources-grid resources-grid--3">
      {
        videos.map(({ title, description, embedSrc, link, linkLabel }) => (
          <article class="resource-video">
            <h2 class="resource-video__title">{title}</h2>
            <p class="resource-video__desc">{description}</p>
            <div class="resource-video__embed">
              <iframe
                src={embedSrc}
                title={`${title} video`}
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
                loading="lazy"
              />
            </div>
            <a
              class="resource-card__link"
              href={link}
              target="_blank"
              rel="noopener"
            >
              <svg
                class="resource-card__icon"
                width="14"
                height="14"
                viewBox="0 0 576 512"
                aria-hidden="true"
              >
                <path
                  fill="currentColor"
                  d="M336.2 64H47.8C21.4 64 0 85.4 0 111.8v288.4C0 426.6 21.4 448 47.8 448h288.4c26.4 0 47.8-21.4 47.8-47.8V111.8c0-26.4-21.4-47.8-47.8-47.8zm189.4 37.7L416 177.3v157.4l109.6 75.5c21.2 14.6 50.4-.3 50.4-25.8V127.5c0-25.4-29.1-40.4-50.4-25.8z"
                />
              </svg>
              <span>{linkLabel}</span>
            </a>
          </article>
        ))
      }
    </div>
  </section>

  <section class="resources-links section pt-8">
    <div class="container--site resources-grid resources-grid--4">
      {
        articles.map(({ title, description, link, linkLabel }) => (
          <ResourceCard
            title={title}
            description={description}
            link={link}
            linkLabel={linkLabel}
            titleHref={link}
          />
        ))
      }
      {
        official
          .slice(0, 2)
          .map(({ title, description, link, linkLabel }) => (
            <ResourceCard
              title={title}
              description={description}
              link={link}
              linkLabel={linkLabel}
            />
          ))
      }
    </div>
  </section>

  <section class="resources-links section pt-0">
    <div class="container--site resources-grid resources-grid--4">
      {
        official
          .slice(2)
          .map(({ title, description, link, linkLabel }) => (
            <ResourceCard
              title={title}
              description={description}
              link={link}
              linkLabel={linkLabel}
            />
          ))
      }
    </div>
  </section>

  <section class="resources-media-banner" aria-labelledby="media-heading">
    <h2 id="media-heading" class="resources-media-banner__title">
      In the Media
    </h2>
  </section>

  <section class="resources-links section">
    <div class="container--site resources-grid resources-grid--4">
      {
        media.map(({ title, description, link, linkLabel }) => (
          <ResourceCard
            title={title}
            description={description}
            link={link}
            linkLabel={linkLabel}
          />
        ))
      }
    </div>
  </section>
</BaseLayout>
